<nav class="task-nav">
  <button
    class="nav-previous nav-button"
    (click)="index = index - 1"
    [disabled]="index === 0"
  >
    &lt;
  </button>
  <button
    class="nav-button"
    *ngFor="let task of tasks; index as i"
    (click)="index = i"
    [class.active]="i === index"
  >
    {{ i + 1 }}
  </button>
  <button
    class="nav-next nav-button"
    (click)="index = index + 1"
    [disabled]="index === tasks.length - 1"
  >
    &gt;
  </button>
</nav>
<div class="content">
  <ng-container *ngFor="let task of tasks; index as i">
    <app-task
      class="task"
      *ngIf="i === index"
      [task]="task"
      [questionNr]="i + 1"
    ></app-task>
  </ng-container>
</div>
