* {
  box-sizing: border-box;
}

body {
  margin: 0;
  height: 100vh;
  background-color: #B6BDB9;
  font-family: 'Roboto', sans-serif;
}

// override code mirror height
.CodeMirror {
  height: 100%!important;
}

// fix generated svg styles
#output-container {
  svg {
    overflow: visible;
  }
}
