:host {
  display: flex;
  flex-direction: column;
}

.question {
  margin-bottom: .5em;
  padding: 0 1rem;

  .question-number {
    margin-top: 0;
  }

  .question-description {
    white-space: pre;
  }
}

app-tikz-interactive {
  flex: 1;
}
