:host {
  display: flex;
  flex-direction: column;
}

.question {
  margin-bottom: .5em;
  padding: 0 1rem;

  .question-number {
    margin-top: 0;
  }

  .question-description {
    white-space: pre-wrap;

    ::ng-deep ul {
      // change bullet color
      li::before, li::marker {
        color: #4a86e8;
      }
      margin: 0;
      padding: 0 0 0 1.5em;
    }
  }
}

app-tikz-interactive {
  flex: 1;
}
