:host {
  display: flex;
}

.code-mirror, .output {
  flex: 1 1 50%;
}

.output {
  display: flex;
  border: 1px solid black;
  position: relative;
  background-color: #FAF9F6;

  #output-container {
    margin: auto;
  }

  .error-message {
    margin: 0;
    padding: 1em;
    color: #ff0033;
    background-color: #ffcccc;
    font-weight: bold;
    width: 100%;
  }

  .solution-toggle {
    position: absolute;
    bottom: 1em;
    right: 1em;
    color: #eeffff;
    border-radius: 5px;
    cursor: pointer;
    background-color: #263238;
  }

  .solution {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
  }
}
