<ngx-codemirror
  class="code-mirror"
  [(ngModel)]="content"
  (ngModelChange)="update($event)"
  [options]="{
    lineNumbers: true,
    theme: 'material',
    mode: 'text/x-stex'
  }"
></ngx-codemirror>
<div class="output">
  <div [hidden]="errorMessage | async" id="output-container" #output></div>
  <pre [hidden]="!(errorMessage | async)"class="error-message">{{errorMessage | async}}</pre>
  <div *ngIf="solution" [style.opacity]="showSolution ? 1 : 0" class="solution" #solution>{{solution}}</div>
  <button *ngIf="solution" class="solution-toggle" (click)="showSolution = !showSolution">{{showSolution ? 'Hide Solution' : 'Show Solution'}}</button>
</div>
