:host {
  display: flex;
}

.code-mirror, .output {
  flex: 1 1 50%;
}

.output {
  display: flex;

  #output-container {
    margin: auto;
  }

  .error-message {
    margin: 0;
    padding: 0 1em;
    color: #ff0033;
    background-color: #ffcccc;
    font-weight: bold;
    width: 100%;
  }
}
